<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body text-left">
                        <h2 class="text-center">Wikimedia TagAlong</h2>
                        <hr class="star-primary">
                        <h5>Info</h5>
                        <p>
                        This project is based on an university group assignment in cooperation with Wikimedia Sweden. The project took place between November and December 2014. The result was presented to Wikimedia in January 2015.
                        </p>
                        <h5>Background</h5>
                        <p>
                        Wikipedia's media database Wikimedia Commons contains more than 18 million images that are free to use for everyone. One way to make the images easier to find and filter, is to add images into categories. There is a categorization system on Wikimedia Commons today, but the problem is that many people, especially beginners, do not take the time needed to add pictures to a category. It is not always easy to figure out to which of the available categories an image belongs. In the current situation, there are about 400,000 uncategorized pictures and some 1 000 new uncategorized images are added every day.
                        </p>
                        <h5>Challenge</h5>
                        <p>
                        Apply a gamification approach to the problem and develop a concrete and enjoyable suggestion on how this problem can be solved on a mobile platform. Create three prototypes and evaluate all of them.
                        </p>
                        <h5>Role</h5>
                        <p>
                        UX Designer and Interaction Designer
                        </p>
                        <h5>Brainstorming and sketches</h5>
                        <p>
                        As a team we had a closer look on the Wikimedia website and were trying to understand the problem in depth. It was very obvious to us that Wikimedia was using categorization wrong and actually meant tagging. This easily led to confusion when uploading an image. Our focus therefore was to tag images and not to put them in categories.
                        <br><br>
                        Individually we did research about gamification. Afterwards we started discussing back and forth what good gamification is and what it means. To get going and getting inspired, we had a look at successful mobile games as well as tagging games. All the tagging games had one thing in common, they felt like work.
                        </p>
                        <img src="img/portfolio/tag_sketch.jpg" class="img-responsive img-centered" alt="Sketches">
                        <div class="caption">Creativity dump.</div>
                        <br>
                        <p>The tagging games felt like work because they were just about clicking the image and clicking the matching tag or the other way round, it just didn't feel engaging. We wanted to create something more interactive and engaging than that. Our main game idea was to create a scrollable image gallery and combine it with randomized tags or tags that users define themselves. Users scroll through the gallery to find an image that matches one or more tags and drag &amp; drop the tags on the image. The game is over as soon as all tags are matched. We furthermore conceptualized how aspects like leveling, competition, community, reward system, meaning or level of difficulty will work.</p>
                        <h5>Iteration 1</h5>
                        <p>
                        The goal was to test the mental model and to see if the users understand the game mechanics itself(scrolling and drag &amp; drop). We sketched images on papers to create the gallery and used post-its as the tags. The participants of the evaluation did not understand to drag & drop the post-its on the images, instead they "clicked". We explained the idea of the game to the participants afterwards. All particpants agreed that it might work, but were not able to grasp it with that kind of prototype.
                        </p>
                        <h5>Iteration 2</h5>
                        <p>
                        One part of our team started to create screen designs of the user interface, based on our previous sessions. The screen designs were later on used as a paper prototype. The other part of the team, including me, started to create a responsive website with a JavaScript implementation of the game(scrollable gallery and draggable & droppable tags). After our first iteration wasn't a big success, we needed an interactive version of the game itself as soon as possible, to see if we were on the right track.
                        </p>
                        <img src="img/portfolio/tag_mock.jpg" class="img-responsive img-centered" alt="Mockups">
                        <div class="caption">Some of the mockups that were created.</div>
                        <br>
                        <img src="img/portfolio/tag_screens.jpg" class="img-responsive img-centered" alt="Screen designs">
                        <div class="caption">Some of the screen designs that were created.</div>
                        <br>
                        <img src="img/portfolio/tag_javascript.jpg" class="img-responsive img-centered" alt="Javascript Game">
                        <div class="caption">JavaScript implementation of the game.</div>
                        <br>
                        <p>
                            We used Co-discovery as evaluation method for the paper prototype. It is a useful technique for capturing first impressions and because it is done in pairs, it helps participants to be comfortable and to engage think-aloud. We were trying to scope out any issues with buttons, sliders and/or functions that participants did not understand or any other possible issues. The evaluation revealed one very big flaw. All the participants got stuck on the pre-game screen and did not know how to interact. Therefore we created several different versions of the same screen and evaluated this particular screen again later on.
                            <br><br>
                            To test the interactive version of the game, we gave our participants individually a phone with the JavaScript prototype and let them play with it. The participants understood right away that matching the tags to images was the purpose of the game. They also understood the scrollable gallery and that the tags were supposed to be dragged on the pictures.
                        </p>
                        <h5>Iteration 3</h5>
                        <p>
                        Again we divided our team. One part created a video prototype and the other part, including me, turned our screen designs into an Axure prototype. By pressing the start button in the pre-game screen, the Axure prototype redirects to the responsive JavaScript prototype website. When finishing the game, the website redirects back to the Axure prototype.
                        </p>
                        <img src="img/portfolio/tag_axure.jpg" class="img-responsive img-centered" alt="Axure">
                        <div class="caption">Showing the Axure prototype pre-game screen and the end screen.</div>
                        <br>
                        <p>The goal of this evaluation was to measure actual user experience. Our evaluation was a combination of a free surf approach, the video prototype and a questionnaire. We let the participants freely navigate through the interface and let them play the game. Afterwards we presented the video to illustrate the concept. We finished the evaluation with a questionnaire. The questionnaire was based on a research paper which explored rapid assessment of game experiences in public settings.
                        </p>
                        <img src="img/portfolio/tag_uxtest.jpg" class="img-responsive img-centered" alt="Axure">
                        <div class="caption">Axure and JavaScript prototype in action.</div>
                        <br>
                        <h5>Summary</h5>
                        <p>
                        The project came to an end and to summarize, we could only evaluate a small part of our concept, because we could not implement all gamification aspects in time. Nevertheless, our final evaluation revealed that the majority of the users felt engaged by the game as it was and we could create some curiosity, which is a reasonably good result, considering the limited functionality. Therefore, we concluded that it would have been worth to pursue this idea and do further evaluations with richer developed versions, which would have included advanced/all the gamification aspects from our concept. The Wikimedia representatives were impressed and very satisfied with our work.
                        <br><br>
                        Article about the project at infotech: <a href="http://www.infotechumea.se/studenter-i-samarbete-med-wikimedia" target="_blank">Link</a>
                        </p>
                        <div class="text-center">
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <h5>Late 2014</h5>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>