<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body text-left">
                        <h2 class="text-center">Auroracle</h2>
                        <hr class="star-primary">
                        <p>
                        I am currently living in Umeå, Sweden. From time to time you have the chance to see the Northern Lights here. There are a few Northern Lights forecast websites, but those are not very mobile friendly. And the existing mobile applications are overblown with information and fancy graphics.
                        I decided to design my own Northern Lights forecast application. I focused on the necessary information and left out all the rest. The result is very simplistic.
                        For those who did not notice, the name auroracle is a mix between Aurora Borealias(aka Northern Lights) and the word oracle.
                        </p>
                        <img src="img/portfolio/auro_sketches.jpg" class="img-responsive img-centered" alt="sketches">
                        <div class="caption">Rough sketches.</div>
                        <br>
                        <img src="img/portfolio/auro_poster.png" class="img-responsive img-centered" alt="poster">
                        <br>
                        <div class="text-center">
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong><h5>Late 2014</h5></strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>