<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body text-left">
                        <h2 class="text-center">Wikipedia design proposal</h2>
                        <hr class="star-primary">
                        <h5>Info</h5>
                        <p>
                        This project is based on an university group assignment in cooperation with Wikimedia Sweden. The project took place between February and March 2015 and was presented to Wikimedia.
                        </p>
                        <h5>Background</h5>
                        <p>
                        Wikipedia has a few main issues. A decreasing number of editors, little diversity (> 80% male), “female” topics are covered less than “male” topics, reluctance to changes by core-users and in addittion to that, only a few readers/"normal users" are interested in becoming contributors.
                        </p>
                        <h5>Challenge</h5>
                        <p>
                        Develop a proposal that is based upon a firm consideration of its consequences, including ethical, for Wikipedia and the society as a whole.
                        </p>
                        <h5>Role</h5>
                        <p>
                        UX Designer, Interaction Designer and Visual Designer
                        </p>
                        <h5>Approach</h5>
                        <p>
                        Individually we did research about the problems that Wikipedia is facing. Together we discussed our findings and analyzed surveys. We identified accessibility as the main aspect we have to focus on in order to attract a wider and more diverse group of people. Only one of us edited Wikipedia before the project. So we tried editing Wikipedia ourselves and we were able to confirm our research findings. We created a list of requirements that we needed to work on in order to improve the accessibility. Based on these requirements we started to design our version of Wikipedia. Due to given time constraints, our main focus were the main page, the article page, the talk page, the history page and the user page.
                        </p>
                        <img src="img/portfolio/wiki_sketches.jpg" class="img-responsive img-centered" alt="Sketches">
                        <div class="caption">Sketches based on requirements.</div>
                        <br>
                        <img src="img/portfolio/wiki_mockups.jpg" class="img-responsive img-centered" alt="Mockups">
                        <div class="caption">Mockups based on sketches, created with Balsamiq.</div>
                        <br>
                        <h5>Main page</h5>
                        <p>
                        One of the first major changes we decided upon was to recede the size of the main menu. It is easy to make it smaller, using an accordion, so that menus can be expanded and collapsed. One of our research findings was, that knowing about specific topic areas which needed help would turn non-contributors into participants. We decided that this was an important feature to make people both aware of what they can do, but also encouraging them to do so by making it more accessible. So we added “Take part!” to the menu, with prominent green background, an overview about different possibilities of taking part. We also changed the “Interaction” menu to “Community” instead, as that is what you’re interacting with - the community.<br><br>
                        To deal with the hidden search syntax issue on Wikipedia, we added a feature that already exists on the Wikimedia Commons site. We added, beneath the search function, options to search in specific parts of the site. By adding this search options and moving the search next to the Wikipedia logo, we increase availability, by increasing awareness and accessibility.<br><br>
                        Another issue was the cluttered main page, where all kinds of featured texts crowd one another. Even though all these features are something we want to make more prominent, we also want to make them more attractive and less intimidating. We chose to design them similarly to common widgets on other sites.</p>
                        <img src="img/portfolio/wiki_main_page_before.jpg" class="img-responsive img-centered" alt="Current main page">
                        <div class="caption">Example current Wikipedia main page.</div>
                        <br>
                        <img src="img/portfolio/wiki_main_page_after.jpg" class="img-responsive img-centered" alt="Main page redesign">
                        <div class="caption">Wikipedia main page redesign.</div>
                        <br>
                        <h5>Navigation tabs</h5>
                        <p>
                        We updated the navigation tabs and grouped them together. The current page has the Article and Talk tabs on the left and the tabs Read, Edit, View History on the right. We removed the Read tab, because it has the same function as the Article tab.
                        <br><br>
                        The wording of the Talk tab has been changed to Debate, because this illustrates the purpose of this site in a more intuitive way, in our opinion. The tabs Article, Edit, Debate and History are presented in a more prominent way, therefore we hope to engage users to interact with these tabs.
                        </p>
                        <h5>Article page</h5>
                        <p>
                        The green color of “Take part!” can also been found in the Article page. As underline in the tab navigation as well as the edit link next to the Article subheadings. Our goal is to make the user subconsciously link these together, the user sees a green color and subconsciously feels inclined to take part.
                        </p>
                        <img src="img/portfolio/wiki_article_page_before.jpg" class="img-responsive img-centered" alt="Current main page">
                        <div class="caption">Example current Wikipedia article page.</div>
                        <br>
                        <img src="img/portfolio/wiki_article_page_after.jpg" class="img-responsive img-centered" alt="Main page redesign">
                        <div class="caption">Wikipedia article page redesign.</div>
                        <h5>Edit page</h5>
                        <p>
                        Although the Visual Editor is activated by default in for example Swedish Wikipedia and in German language variations, it is not activated in the main English and German Wikipedia. In the research, we found that a fair amount of people not contributing to Wikipedia stated that not knowing the syntax of the markup language hinders them to contribute.
                        <br><br>
                        Additionally, our own experiences with the visual editor led us to the suggestion that activating the visual editor by default would be an important step in attracting a more diverse editor group. People that make the first steps in Wikipedia on their own might not make it that far to activate the visual editor in the settings section so they might not become editors. Especially if they are not familiar with markup language and are unwilling to make an effort to learn it.
                        <br><br>
                        Although this should be known to the core Wikipedians and even though core editors would be able to turn the visual editor off, they still blocked the visual editor in 2013 for various reasons.
                        <br><br>
                        Therefore we suggest to the foundation to make another try to convince their users to activate the visual editor for at least for new users.
                        </p>
                        <h5>Debate page</h5>
                        <p>
                        We changed the debate page to make it look like a discussion forum. The threads are automatically generated based on the headings in the article itself. On the right we display widgets with the debate rules and to the article related projects. The rules widget keeps a yellow color as in the current Wikipedia talk page. The projects widget has the green color, again we want to imply that green means to take part and these projects are taking part.
                        </p>
                        <img src="img/portfolio/wiki_talk_page_before.jpg" class="img-responsive img-centered" alt="Current talk page">
                        <div class="caption">Example current Wikipedia talk page.</div>
                        <br>
                        <img src="img/portfolio/wiki_debate_page_after.jpg" class="img-responsive img-centered" alt="Talk page redesign">
                        <div class="caption">Wikipedia talk page redesign.</div>
                        <br>
                        <h5>History page</h5>
                        <p>
                        The history page in the current Wikipedia is flooded with unnecessary and partially confusing information. Our approach has a revision column next to the article. Like Google does it with the Google docs revision history. We display the change date, username and the comment. When a user selects the revision, the change gets displayed in the article with green color. This makes it easier to comprehend changes that have been made.
                        </p>
                        <img src="img/portfolio/wiki_history_page_before.jpg" class="img-responsive img-centered" alt="Current history page">
                        <div class="caption">Example current Wikipedia history page.</div>
                        <br>
                        <img src="img/portfolio/wiki_history_page_after.jpg" class="img-responsive img-centered" alt="History page redesign">
                        <div class="caption">Wikipedia history page redesign.</div>
                        <br>
                        <h5>User page</h5>
                        <p>
                        Even though we didn’t want to implement that many more new social features, we still wanted to make user pages more prominent. In contrast to other social networks the user page should not be mostly about the users’ identity but about helping them to connect to people to similar interests.
                        <br><br>
                        As it stands, user pages look like articles. We still want people to be able to have that kind of user page, but we wanted to give users a base template to start their user page from. If they want to deviate from the base template, they are free to do so, but by providing a base template we put certain expectations on the user. By making these expectations more of a norm, over time, there will be more information on the average user page, increasing social aspects in a not too intrusive manner.
                        <br><br>
                        In the proposed template is a subcategory named ‘Fields of Focus’. This is supposed to help users to connect to each other.  Fields of Focus represent specific subjects that the user is engaged in. By connecting the fields to the users account we make it more accessible for users to find people who are interested in the same topics. This feature is not meant to replace the already existing “WikiProjects” but rather as a way to facilitate the way users connect to each other, hence enabling an easier way of finding potential partners to contribute with.
                        </p>
                        <img src="img/portfolio/wiki_user_page_before.jpg" class="img-responsive img-centered" alt="Current user page">
                        <div class="caption">Example current Wikipedia user page.</div>
                        <br>
                        <img src="img/portfolio/wiki_user_page_after.jpg" class="img-responsive img-centered" alt="User page redesign">
                        <div class="caption">Wikipedia user page with template redesign.</div>
                        <br>
                        <h5>Summary</h5>
                        <p>
                        A serious shortcoming of our proposal is that core-Wikipedians will most certainly be reluctant to implement our suggestions. As we have seen with the visual editor, it is very hard for the Wikimedia foundation to propose changes to their user base. We know therefore that it is quite unlikely that they will be successful in convincing their users of a redesign of the platform at all. However, we still decided to at least create an initial redesign concept to provide a clearer picture of what we mean by improving the accessibility of the site. We believe that by lowering the technical barriers, Wikipedia would be successful in attracting a more diverse user group and that would benefit the society because there would be a much broader knowledge for everyone available on Wikipedia.
                        </p>
                        <div class="text-center">
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <h5>Early 2015</h5>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>