<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body text-left">
                        <h2 class="text-center">Maps & Embodied Interaction</h2>
                        <hr class="star-primary">
                        <h5>Overview</h5>
                        <p>
                        This project is based on an university assignment. The project took place between November 2014 and January 2015.
                        </p>
                        <h5>Background</h5>
                        <p>
                        Increasingly, the public sector and other organizations make their data accessible for re-use. This kind of, so-called, Open Data, may be seen as an opportunity for innovation on part of organizations and the general public at large. However, the re-use of data comes with its fair share of challenges. The fact that data is made publicly available does not mean that it is readily accessible and understandable.
                        </p>
                        <h5>Challenge</h5>
                        <p>
                        Take on the challenge of prototyping the design of a product or service that re-uses open data provided by the World Bank and apply embodied interaction.
                        </p>
                        <h5>About</h5>
                        <p>
                        I have created a website that builds upon Google Maps but changes the way people navigate. Instead of dragging the map around with the mouse or using the keyboard to type into the search field, people can navigate with their eyes and their voice. In addition to that, the website is able to provide an overview of countries’ relevant data.
                        </p>
                        <h5>Context</h5>
                        <p>
                        The website makes use of a webcam that is ideally placed in a central position above the screen and a microphone. In addition to that, a web browser, that enables the possibility to access the camera and the microphone, is needed, e.g. Google Chrome.
                        <br><br>
                        Think of this website as a new way of using map based websites. People who use Google Maps, Bing Maps or OpenStreetMap to explore the world are also able to use this website. But in addition to that, the website provides a data overview of a country that users might be interested in. Additionally think about handicapped people who are not able to navigate through a physical artifact like a mouse or a keyboard.
                        </p>
                        <h5>Embodied interaction</h5>
                        <p>
                        The website gets rid of tangible objects. Users no longer navigate through a tangible artifact. The perception of users change. There is no need for a mouse or a keyboard. The user’s awareness shifts towards making use of their eyes and voice. The navigation interface becomes invisible and this allows users to interact with the system in a more natural way.
                        </p>
                        <h5>How it works</h5>
                        <p>
                        Among other javascript libraries like jQuery for simple DOM-manipulation, angular for a dynamic switch of the data inside the slider view and underscore for easy filtering of the data, the website makes use of two libraries called camgaze.js and annyang.js.
                        <br><br>
                        <a href="http://aw204.host.cs.st-andrews.ac.uk/camgaze.js/">Camgaze.js</a> is a library that focuses on eye tracking and gaze detection. It accesses the user’s camera and tracks the eyes of the user. My implementation then transforms or reflects the movement of the eyes onto the map.
                        <br><br>
                        <a href="https://www.talater.com/annyang/" target="_blank">Annyang.js</a> is a library that focuses on speech recognition. It accesses the user’s microphone. My implementation provides commands to navigate through the map more quickly or to display data (e.g. "go to Japan", "zoom in" or "show data Sweden").
                        </p>
                        <img src="img/portfolio/maps_eyeexample.jpg" class="img-responsive img-centered" alt="Eye tracking example">
                        <div class="caption">Camgaze draws blue squares around the eyes of the user. Every time the blue squares move, my implementation reflects or transforms this movement onto the map and this results in the map moving as well.</div>
                        <h5>Sketches</h5>
                        <img src="img/portfolio/maps_sketch.jpg" class="img-responsive img-centered" alt="First sketch">
                        <div class="caption">First sketch of the concept.</div>
                        <br>
                        <img src="img/portfolio/maps_fantasy.jpg" class="img-responsive img-centered" alt="Sketch Fantasy Interactive">
                        <div class="caption">Got inspired by a concept of the <a href="https://vimeo.com/70750886" target="_blank">future airline website</a> by the design agency Fantasy Interactive. I made the decision to display the World Bank data in a slider on the right.</div>
                        <br>
                        <img src="img/portfolio/maps_columbia.jpg" class="img-responsive img-centered" alt="Sketch HDE">
                        <div class="caption">Final sketch. The slider on the right still did not provide the space that I needed to display World Bank data in the way I wanted it to display. <a href="https://data.hdx.rwlabs.org/group/col" target="_blank">The Humanitarian Data Exchange</a> website inspired me to display pure numbers instead of diagrams.</div>
                        <br>
                        <h5>Result</h5>
                        <img src="img/portfolio/maps_sweden.jpg" class="img-responsive img-centered" alt="Final Result">
                        <div class="caption">Design in Photoshop.</div>
                        <br>
                        <p>I created a video with After Effects that illustrates the concept:</p>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="http://www.youtube.com/embed/xSsxJWV2PKg&vq=hd1080" allowfullscreen></iframe>
                        </div>
                        <br>
                        <p>This video shows the website in action:</p>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="http://www.youtube.com/embed/oFqCdJy8gxw&vq=hd1080" allowfullscreen></iframe>
                        </div>
                        <br>
                        <div class="text-center"><h4><a href="https://www.googledrive.com/host/0B42TXgo3vNFXaWs0NVJHT1FITk0" target="_blank">Click here to try the website yourself.</a></h4></div>
                        <h5>Evaluation</h5>
                        <p>At first I showed the participants the concept video, to gain a better understanding, then I let them free surf the website and finished the evaluation with a semi-structured interview.
                        <br><br>
                        Although it is just a prototype and things were still not working perfectly reliable, the participants were very impressed by the system. They were stoked about the idea and thought it is very cool, because they have not seen a system like this before. They felt that navigating a map based website with the eyes and the voice makes it easier and leads to a more natural interaction. They also felt engaged navigating the map with their eyes. It requires a certain level of mastery in order to be able to control the map with the eyes. The data is clearly visible and the design itself was appreciated to be very clean. They also liked the fact that the slider is slightly transparent so they are still able to see the map underneath it.
                        <br><br>
                        This concept proved to be a big success.
                        </p>
                        <div class="text-center">
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <h5>Late 2014</h5>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>