<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body text-left">
                        <h2 class="text-center">Pinboard</h2>
                        <hr class="star-primary">
                        <p>Pinboard is the result of a hackathon. The purpose of this application is to replace public bulletin/notice boards like these:</p>
                        <img src="img/portfolio/pin_bulletin.jpg" class="img-responsive img-centered" alt="Bulletin boards examples">
                        <div class="caption">Bulletin boards examples.</div>
                        <br>
                        <p>
                        Users have the possbility to create notes and define a visibility range as well as a visibility lifespan. The notes are then glued to the location, based on the GPS coordinates. If another user walks into the note range, the note will appear on the Pinboard, if the user walks out of the range, the note will disappear. Users have the possiblity to favorite notes and keep them. The notes have the same level of anonymity as the notes on public bulletin/notice boards.
                        <br><br>
                        For the development of this application at the hackathon we used Ruby on Rails as backend and Knockout.js for the frontend. I have developed on backend as well as on frontend site.
                        <br><br>
                        This is a video which has been created at the end of the hackathon and shows partially the functionality as well as the design:
                        </p>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="http://www.youtube.com/embed/2JR46xhsJLA" allowfullscreen></iframe>
                        </div>
                        <br>
                        <p>
                            Recently I have redesigned the application applying Google's Material Design.
                        </p>
                        <img src="img/portfolio/pin_sketches.jpg" class="img-responsive img-centered" alt="sketches">
                        <div class="caption">Sketched without having Google's Material Design in mind.</div>
                        <br>
                        <img src="img/portfolio/pin_poster.jpg" class="img-responsive img-centered" alt="poster">
                        <br>
                        <div class="text-center">
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong><h5>Early 2015</h5></strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>