@import url("http://fonts.googleapis.com/css?family=Roboto:100,300");
@import url("font-awesome.min.css");

/* Reset */

    html{
        /* Hail the baseline */
         /*background-image: url(http://basehold.it/i/18);*/
    }

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		min-height: 100%;
		min-width: 100%;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Basic */

	body, input, select, textarea {
		color: #fff;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: 100 !important;
		letter-spacing: -0.025em;
		line-height: 18px;
	}

	body {
		background: #fff;
		overflow: hidden;
	}

		body.loading * {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}

	a {
		-moz-transition: border-color 0.2s ease-in-out;
		-webkit-transition: border-color 0.2s ease-in-out;
		-ms-transition: border-color 0.2s ease-in-out;
		transition: border-color 0.2s ease-in-out;
		/*border-bottom: dotted 1px;*/
		color: inherit;
		outline: 0;
		text-decoration: none;
	}

		a:hover {
			border-color: transparent;
		}

/* Custom */
#smal{
    color: #9449b3;
    opacity: 1;
}

.copyright{
    font-size: 1em;
    line-height: 3.25em;
    margin-bottom: 18px;
    color: #fff;
}

/* Icon */

	.icon {
		text-decoration: none;
		position: relative;
        color: #fff;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

/* Wrapper */

	@-moz-keyframes wrapper {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@-webkit-keyframes wrapper {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@-ms-keyframes wrapper {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes wrapper {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	#wrapper {
		-moz-animation: wrapper 3s forwards;
		-webkit-animation: wrapper 3s forwards;
		-ms-animation: wrapper 3s forwards;
		animation: wrapper 3s forwards;
		height: 100%;        
		width: 100%;
		left: 0;        
		top: 0;
		opacity: 0;
		position: fixed;
        
        background: rgba(149,73,179,1);
        background: -moz-linear-gradient(45deg, rgba(149,73,179,1) 0%, rgba(149,73,179,1) 0%, rgba(46,0,78,1) 69%, rgba(15,6,38,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(149,73,179,1)), color-stop(0%, rgba(149,73,179,1)), color-stop(69%, rgba(46,0,78,1)), color-stop(100%, rgba(15,6,38,1)));
        background: -webkit-linear-gradient(45deg, rgba(149,73,179,1) 0%, rgba(149,73,179,1) 0%, rgba(46,0,78,1) 69%, rgba(15,6,38,1) 100%);
        background: -o-linear-gradient(45deg, rgba(149,73,179,1) 0%, rgba(149,73,179,1) 0%, rgba(46,0,78,1) 69%, rgba(15,6,38,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(149,73,179,1) 0%, rgba(149,73,179,1) 0%, rgba(46,0,78,1) 69%, rgba(15,6,38,1) 100%);
        background: linear-gradient(45deg, rgba(149,73,179,1) 0%, rgba(149,73,179,1) 0%, rgba(46,0,78,1) 69%, rgba(15,6,38,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9549b3', endColorstr='#0f0626', GradientType=1 );
	}

/* BG */

	#bg {
        background: #fff;
		height: 100%;
		min-height: 100%;
		left: 0;
		top: 0;        
		opacity: 1;
		position: fixed;
	}
/* Main */

	#main {
		height: 100%;
		left: 0;
		position: fixed;
		text-align: center;
		top: 0;
		width: 100%;
	}

		#main:before {
			content: '';
			display: inline-block;
			height: 100%;
			margin-right: 0;
			vertical-align: middle;
			width: 1px;
		}

/* Header */

	@-moz-keyframes header {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-webkit-keyframes header {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-ms-keyframes header {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@keyframes header {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-moz-keyframes nav-icons {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-webkit-keyframes nav-icons {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-ms-keyframes nav-icons {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@keyframes nav-icons {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}
    
   /* Footer */

	@-moz-keyframes footer {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-webkit-keyframes footer {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-ms-keyframes footer {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@keyframes footer {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}
    

	#header{
		-moz-animation: header 1.25s 0.75s forwards;
		-webkit-animation: header 1.25s 0.75s forwards;
		-ms-animation: header 1.25s 0.75s forwards;
		animation: header 1.25s 0.75s forwards;
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		cursor: default;
		display: inline-block;
		opacity: 0;
		position: relative;
		text-align: center;
		top: 0;
		vertical-align: top;
		width: 90%;
	}

		#header h1 {
			font-size: 4.5em;
			font-weight: 100;
			letter-spacing: -0.035em;
			line-height: 1em;
            margin-top: 192px;
            margin-bottom: 18px;
            color: #fff;
            opacity: 0.8;
		}

		#header p {
			font-size: 1.5em;
			font-weight: 300;
            letter-spacing: -0.035em;
            line-height: 1em;
            margin-top: 40px;
            /*margin-bottom: 18px;*/
            color: #fff;
            
		}
        
         #header #position {
			opacity: 0.8;
		}
        
        #header #study {
			font-size: 1.3125em;
			font-weight: 100;
            letter-spacing: -0.035em;
            line-height: 1.75em;
            /*margin-top: 43px;*/
            margin-top: 6px;
            margin-bottom: 18px;
            color: #fff;
            opacity: 0.8;
		}

		#header nav {
			margin: 2.35em 0 0 0;
		}

			#header nav li {
				-moz-animation: nav-icons 0.5s ease-in-out forwards;
				-webkit-animation: nav-icons 0.5s ease-in-out forwards;
				-ms-animation: nav-icons 0.5s ease-in-out forwards;
				animation: nav-icons 0.5s ease-in-out forwards;
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translate3d(0,0,0);
				-webkit-transform: translate3d(0,0,0);
				-ms-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
				display: inline-block;
				height: 5.35em;
				line-height: 5.885em;
				opacity: 0;
				position: relative;
				top: 0;
				width: 5.35em;
			}

				#header nav li:nth-child(1) {
					-moz-animation-delay: 1.5s;
					-webkit-animation-delay: 1.5s;
					-ms-animation-delay: 1.5s;
					animation-delay: 1.5s;
				}

				#header nav li:nth-child(2) {
					-moz-animation-delay: 1.75s;
					-webkit-animation-delay: 1.75s;
					-ms-animation-delay: 1.75s;
					animation-delay: 1.75s;
				}

				#header nav li:nth-child(3) {
					-moz-animation-delay: 3s;
					-webkit-animation-delay: 3s;
					-ms-animation-delay: 3s;
					animation-delay: 3s;
				}

				#header nav li:nth-child(4) {
					-moz-animation-delay: 3.25s;
					-webkit-animation-delay: 3.25s;
					-ms-animation-delay: 3.25s;
					animation-delay: 3.25s;
				}

				#header nav li:nth-child(5) {
					-moz-animation-delay: 3.5s;
					-webkit-animation-delay: 3.5s;
					-ms-animation-delay: 3.5s;
					animation-delay: 3.5s;
				}

				#header nav li:nth-child(6) {
					-moz-animation-delay: 3.75s;
					-webkit-animation-delay: 3.75s;
					-ms-animation-delay: 3.75s;
					animation-delay: 3.75s;
				}

				#header nav li:nth-child(7) {
					-moz-animation-delay: 4s;
					-webkit-animation-delay: 4s;
					-ms-animation-delay: 4s;
					animation-delay: 4s;
				}

				#header nav li:nth-child(8) {
					-moz-animation-delay: 4.25s;
					-webkit-animation-delay: 4.25s;
					-ms-animation-delay: 4.25s;
					animation-delay: 4.25s;
				}

				#header nav li:nth-child(9) {
					-moz-animation-delay: 4.5s;
					-webkit-animation-delay: 4.5s;
					-ms-animation-delay: 4.5s;
					animation-delay: 4.5s;
				}

				#header nav li:nth-child(10) {
					-moz-animation-delay: 4.75s;
					-webkit-animation-delay: 4.75s;
					-ms-animation-delay: 4.75s;
					animation-delay: 4.75s;
				}

			#header nav a {
				-webkit-tap-highlight-color: transparent;
				-webkit-touch-callout: none;
				border: 0;
				display: inline-block;
			}

				#header nav a:before {
					-moz-transition: all 0.1s ease-in-out;
					-webkit-transition: all 0.1s ease-in-out;
					-ms-transition: all 0.1s ease-in-out;
					transition: all 0.1s ease-in-out;
					border-radius: 100%;
					display: block;
					font-size: 1.75em;
					height: 2.5em;
					line-height: 2.5em;
					position: relative;
					text-align: center;
					top: 0;
					width: 2.5em;
                    opacity: 0.8;
				}

				#header nav a:hover {
					font-size: 1.1em;
                    opacity: 1;
				}

					#header nav a:hover:before {
						/*background-color: #2D004E;*/
						color: #fff;
                        opacity: 1;
					}

				#header nav a:active {
					font-size: 0.95em;
					background: none;
                    opacity: 1;
				}

					#header nav a:active:before {
						/*background-color: #2D004E;*/
						color: #fff;
                        opacity: 1;
					}

				#header nav a span {
					display: none;
				}

/* Footer */

	#footer {
		-moz-animation: header 1s 2s forwards;
		-webkit-animation: header 1s 2s forwards;
		-ms-animation: header 1s 2s forwards;
		animation: header 1s 2s forwards;
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		cursor: default;
        bottom: 0;
		cursor: default;
        line-height: 1em;
		left: 0;
        opacity: 0;
		position: absolute;
		text-align: center;
		width: 100%;
	}


@media screen and (max-width: 3840px){
		
	#header h1 {
			font-size: 8.2em;
			font-weight: 100;
			letter-spacing: -0.035em;
			line-height: 1em;
            margin-top: 338px;
            margin-bottom: 32px;
		}

		#header p {
			font-size: 2.73375em;
			font-weight: 300;
            letter-spacing: -0.035em;
            line-height: 1em;
            margin-top: 70px;
		}
        
        #header #study {
			font-size: 2.3922em;
			font-weight: 100;
            letter-spacing: -0.035em;
            line-height: 1.7em;
            margin-top: 12px;
            margin-bottom: 32px;
		}

		#header nav {
			margin: 4.25em 0 0 0;
		}
        
        #header nav li {
				height: 9.75em;
				line-height: 10.325em;
				width: 9.75em;
			}
            
            #header nav a:before {
					border-radius: 100%;
					border: solid 1px #fff;
					display: block;
					font-size: 2.7em;
					height: 3em;
					line-height: 3em;
					width: 3em;
				}
                
                #header nav a:hover {
					font-size: 1.1em;
				}
                
				#header nav a:active {
					font-size: 1.2825em;
					background: none;
				}
        #footer{
              line-height: 1em;
        }
        .copyright{
            font-size: 1.35em;
            line-height: 4.1em;
            margin-bottom: 32px;
            
        }
    }

	@media screen and (max-width: 2048px){
		
	#header h1 {
			font-size: 6.075em;
			font-weight: 100;
			letter-spacing: -0.035em;
			line-height: 1em;
            margin-top: 254px;
            margin-bottom: 24px;
		}

		#header p {
			font-size: 2.025em;
			font-weight: 300;
            letter-spacing: -0.035em;
            line-height: 1em;
            margin-top: 54px;
		}
        
        #header #study {
			font-size: 1.772em;
			font-weight: 100;
            letter-spacing: -0.035em;
            line-height: 2,3625em;
            margin-top: 8px;
            margin-bottom: 24px;
		}

		#header nav {
			margin: 3.15em 0 0 0;
		}
        
        #header nav li {
				height: 7.2225em;
				line-height: 7.6505em;
				width: 7.2225em;
			}
            
            #header nav a:before {
					border-radius: 100%;
					border: solid 1px #fff;
					display: block;
					font-size: 2em;
					height: 3em;
					line-height: 3em;
					width: 3em;
				}
                
                #header nav a:hover {
					font-size: 1.1em;
				}
                
				#header nav a:active {
					font-size: 1.2825em;
					background: none;
				}
        #footer{
              line-height: 1em;
        }
        .copyright{
            font-size: 1.35em;
            line-height: 3em;
            margin-bottom: 24px;
            color: #fff;
        }
    }
    
    @media screen and (max-width: 1440px){
        #header h1 {
			font-size: 4.5em;
			font-weight: 100;
			letter-spacing: -0.035em;
			line-height: 1em;
            margin-top: 192px;
            margin-bottom: 18px;
		}

		#header p {
			font-size: 1.5em;
			font-weight: 300;
            letter-spacing: -0.035em;
            line-height: 1em;
            margin-top: 40px;
		}
        
        #header #study {
			font-size: 1.3125em;
			font-weight: 100;
            letter-spacing: -0.035em;
            line-height: 1.75em;
            /*margin-top: 43px;*/
            margin-top: 6px;
            margin-bottom: 18px;
		}

		#header nav {
			margin: 2.35em 0 0 0;
		}
        
        #header nav li {
				display: inline-block;
				height: 5.35em;
				line-height: 5.885em;
				opacity: 0;
				position: relative;
				top: 0;
				width: 5.35em;
			}
        
        #header nav a:before {
					border-radius: 100%;
					border: solid 1px #fff;
					display: block;
					font-size: 1.75em;
					height: 2.5em;
					line-height: 2.5em;
					position: relative;
					text-align: center;
					top: 0;
					width: 2.5em;
				}

				#header nav a:hover {
					font-size: 1.1em;
				}
				#header nav a:active {
					font-size: 0.95em;
					background: none;
				}
        #footer{
            line-height: 1em;
        }         
        .copyright{
            font-size: 1em;
            line-height: 3.25em;
            margin-bottom: 18px;
            color: #fff;
        }
    }
    
    @media screen and (max-width: 767px){
        #header h1 {
			font-size: 2.25em;
			font-weight: 100;
			letter-spacing: -0.035em;
			line-height: 1em;
            margin-top: 96px;
            margin-bottom: 9px;
		}

		#header p {
			font-size: 0.75em;
			font-weight: 300;
            letter-spacing: -0.035em;
            line-height: 1em;
            margin-top: 20px;
		}
        
        #header #study {
			font-size: 0.6565em;
			font-weight: 100;
            letter-spacing: -0.035em;
            line-height: 1.8em;
            /*margin-top: 43px;*/
            margin-top: 3px;
            margin-bottom: 9px;
		}

		#header nav {
			margin: 0.75em 0 0 0;
		}
        
        #header nav li {
				display: inline-block;
				height: 2.675em;
				line-height: 2.9425em;
				opacity: 0;
				position: relative;
				top: 0;
				width: 2.675em;
			}
        
        #header nav a:before {
					border-radius: 100%;
					border: solid 1px #fff;
					display: block;
					font-size: 0.875em;
					height: 1.75em;
					line-height: 1.75em;
					position: relative;
					text-align: center;
					top: 0;
					width: 1.75em;
				}

				#header nav a:hover {
					font-size: 1.1em;
				}
				#header nav a:active {
					font-size: 0.95em;
					background: none;
				}
        #footer{
            line-height: 1em;
        }         
        .copyright{
            font-size: 0.5em;
            line-height: 2.25em;
            margin-bottom: 9px;
            color: #fff;
        }
    }